@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@400;500&family=Roboto:wght@100;300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap");

/* #f7eae4 pink #9b6e1e gold #75887b green  */

.main {
  margin: 1rem;
  padding: 1rem;
}
.project-container {
  padding-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-items: space-between;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.project-container {
  margin-bottom: 16px;
  display: block;
}

.project-individual {
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}

@media (min-width: 600px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media (min-width: 800px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-full-wrapper {
  color: whitesmoke;
  box-shadow: 0px 0px 6px 2px rgb(206, 197, 197);
}
.project-full-wrapper:hover {
  transform: translateY(3px);
  box-shadow: 0px 0px 6px 2px rgb(206, 197, 197);
}

/* text styling */
.project-name {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 200;
  text-decoration: underline;
  margin: 6px;
  color: black;
  text-align: center;
}

.information-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 6px;
  color: black;
  text-align: center;
}

.stack-title {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 200;
  margin: 6px;
  padding-top: 12px;
  color: #75887b;
  text-align: center;
  text-decoration: overline;
}

.stack-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 6px;
  color: #75887b;
  text-align: center;
}

image .project-img-wrapper {
  max-width: 555px;
}

.project-image {
  object-fit: cover;
  width: 100%;
  max-height: 160px;
}

image {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media (max-width: 800px) {
  .project-full-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  project-full-wrapper {
    text-align: center;
    justify-content: space-between;
  }
}

.projects-text-container {
  padding: 12px;
}

.projects-text-container .btn {
  display: block;
  margin-top: 20px;
}

.video-container__wrapper {
  max-width: 530px;
  margin: 0 auto;
}

.video-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  display: center;
}

.video-player {
  height: 100%;
  position: absolute;
  width: 100%;
  display: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
