@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@400;500&family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.contact-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}
.contact-Text {
  line-height: 1.4em;
  font-size: 14px;
  margin: 6px 6px 20px 0px;
  font-family: "Roboto", sans-serif;
}

.socials-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
}

.form-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 6px;
}

.form-wrapper {
  border: 1px solid #9b6e1e;
  margin: 90px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 2px rgb(206, 197, 197);
}

input {
  width: 600px;
}
textarea {
  height: 10em;
  width: 600px;
}

/* div[role="alert"] {
  color: red;
  margin-top: 1em;
} */

.message-chars-left {
  width: 600px;
  margin: auto;
  text-align: left;
}
