@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@400;500&family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.contact-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}
.contact-Text {
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
}

.socials-container {
  display: grid;
  justify-content: space-between;
}
