@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@400;500&family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

h3 {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 200;
  color: #75887b;
  margin: 10px;
}

h4 {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 8px;
  margin: 10px;
}

p {
  font-family: "Roboto", sans-serif;
  margin: 6px;
}

.blog-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}
.BlogsContainer {
  padding-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-items: space-between;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

.PostContainer {
  width: 1000px;
  margin-bottom: 16px;
  color: whitesmoke;
  /* box-shadow: 0px 0px 6px 2px rgb(206, 197, 197); */
  border: 1px solid #9b6e1e;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 10px;
}

.PostContainer a {
  color: black;
}

.TextContainer {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
}

.blog-Text {
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
}

.read-more {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #9b6e1e;
  padding: 6px;
  font-weight: bold;
}

/* blogs cards for media */

@media screen and (max-width: 991px) {
  .PostContainer {
    width: 950px;
    margin-bottom: 16px;
    color: whitesmoke;
    box-shadow: 0px 0px 6px 2px rgb(206, 197, 197);
  }
}

@media screen and (max-width: 768px) {
  .PostContainer {
    width: 760px;
    margin-bottom: 16px;
    color: whitesmoke;
    box-shadow: 0px 0px 6px 2px rgb(206, 197, 197);
  }
}
