@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@400;500&family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@400;500&family=Roboto:wght@100;300&display=swap");

/* #f7eae4 pink #9b6e1e gold #75887b green  */
home__hero-section {
  background-color: #ffff;
}

.home__hero-row {
  align-items: left;
}

.row {
  margin-right: 15px;
  margin-bottom: -15px;
  margin-left: 15px;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 80%;
  flex-basis: 60%;
}

.home__hero-text-wrapper {
  max-width: 1400px;
  padding-top: 0;
  padding-bottom: 60px;
  padding-left: 4px;
}

.heading {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4;
  color: black;
}
.top-line {
  text-decoration: underline #75887b;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 16px;
  margin-left: 60px;
  color: black;
  text-align: left;
}
.text {
  line-height: 1.4;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.dark {
  color: #9b6e1e;
}

.darkBg {
  background-color: #ffff;
}

.button {
  align-items: center;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 60px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
