@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;600&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
  line-height: 1.4; */

#f7eae4 pink #9b6e1e gold #75887b green .home__hero-section {
  background-color: #f7eae4;
  padding: 160px 0;
}

.home__hero-row {
  align-items: left;
}

.row {
  margin-right: 15px;
  margin-bottom: -15px;
  margin-left: -15px;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 80%;
  flex-basis: 60%;
}

.home__hero-text-wrapper {
  max-width: 1400px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 1.4px;
  font-family: 'DM Serif Display', sans-serif;
  margin-bottom: 16px;
  color: #9b6e1e;
  text-align: left;
}

.headline {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.4;
  color: #9b6e1e;
}

.dark {
  color: #9b6e1e;
}

.darkBg {
  background-color: #f7eae4;
}

.home__hero-headline {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: #9b6e1e;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }

  .div .top-line {
    color: #75887b;
  }
}
