@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@400;500&family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Proza+Libre:wght@400;500&family=Roboto:wght@100;300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap");

/* #f7eae4 pink #9b6e1e gold #75887b green  */
home__hero-section {
  background-color: #ffff;
}

.row {
  margin-right: 15px;
  margin-bottom: -15px;
  margin-left: 15px;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 80%;
  flex-basis: 60%;
}

.home_button-container {
  display: grid;
}
.btn {
  text-align: center;
  justify-self: center;
}

.home__hero-text-wrapper {
  max-width: 1400px;
  padding-top: 0;
  padding-left: 4px;
}

.top-line {
  text-decoration: #75887b;
  font-size: 24px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
  text-decoration: underline;
}
.head-line {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin-top: 80px;
}
.text {
  line-height: 1.4;
  margin-left: 0px;
  font-family: "Lora", serif;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
  color: #75887b;
}

.dark {
  color: #9b6e1e;
}

.darkBg {
  background-color: #ffff;
}

@media screen and (max-width: 320px) {
  .home__hero-text-wrapper {
    padding-bottom: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 320px) {
  .head-line {
    font-size: 20px;
  }
}

@media screen and (max-width: 411px) {
  .home__hero-text-wrapper {
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .head-line {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .head-line {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .head-line {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
  }
}
